@charset "utf-8";

@media all and (max-width: 1200px){
  .class__list__item {
    float: none;
    width: 100%;
    margin: 10px auto;
  }
}

@media all and (max-width: 1024px){
  :root {
    /* font-size */
  --font-x-large: 4em;
  --font-large: 2em;
  --font-midium: 1.5em;
  --font-regular: 1em;
  --font-small: 0.9em;
  --font-micro: 0.8em;
  }

  #home {
    height: 590px;
  }

  .contact__container {
    height: 420px;
  }


}

@media all and (max-width:768px) {

  
  #home {
    height: 420px;
  }

  .about__content {
    flex-direction: column-reverse;
  }
  
  .about__left__description {
    padding: 0px;
    margin-top: 10%;
  }

  .about__right {
    text-align: center;
  }

  .contact__container {
    flex-direction: column;
    height: 860px;
  }

  .contact__img__box, .contact__map__box {
    margin: 0 auto;
    width: 100%;
  }

  .contact__img__box {
    margin-bottom: 20px;
  }

  .class__item__icon {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .class__item__description {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

}

@media all and (max-width: 520px) {
  :root {
    /* font-size */
  --font-x-large: 3em;
  --font-large: 1.45em;
  --font-midium: 1.35em;
  --font-regular: 0.9em;
  --font-small: 0.8em;
  --font-micro: 0.75em;
  }

  #home {
    height: 300px;
  }

  .contact__container {
    height: 680px;
  }
}
