@charset "utf-8";

@media all and (max-width: 1200px){
  /* 원데이클래스 전체너비 변경 */
  .class__list__item {
    float: none;
    width: 100%;
    margin: 10px auto;
  }

  .work__slide__item {
    width: 300px;
    height: 500px;
  }
}

@media all and (max-width: 1024px){
  :root {
    /* font-size */
  --font-x-large: 4em;
  --font-large: 2em;
  --font-midium: 1.5em;
  --font-regular: 1em;
  --font-small: 0.9em;
  --font-micro: 0.8em;
  }

  /* contact */
  .contact__container {
    height: 420px;
  }


  .work__slide__item {
    /* float: left; */
    /* width: 280px;
    height: 450px; */
  }
  .work__item__img {
    /* height: 250px; */
  }
}

@media all and (max-width:768px) {

  /* home */
  .navbar__logo {
    margin-top: 50%;
  }


  /* About reocean */
  .about__content {
    flex-direction: column-reverse;
  }
  
  .about__left__description {
    padding: 0px;
    margin-top: 10%;
  }

  .about__right {
    text-align: center;
  }


  /* 원데이클래스  */
  .class__item__icon {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .class__item__description {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  /* contact */
  .contact__container {
    flex-direction: column;
    height: 860px;
  }

  .contact__img__box, .contact__map__box {
    margin: 0 auto;
    width: 100%;
  }

  .contact__img__box {
    margin-bottom: 20px;
  }

  

}

@media all and (max-width: 520px) {
  :root {
    /* font-size */
  --font-x-large: 3em;
  --font-large: 1.45em;
  --font-midium: 1.35em;
  --font-regular: 0.9em;
  --font-small: 0.8em;
  --font-micro: 0.75em;
  }

  /* slide */
  
  .work__slide__item {
    width: 200px;
    height: 380px;
  }

  .work__item__img {
    height: 200px;
  }

  .work__controls span {
    font-size: 50px;
  }
  
  .work__controls span:hover {
    font-size: 60px;
  }

  /* contact */
  .contact__container {
    height: 680px;
  }

  .arrow-up {
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 35px;
  
  }
}
