@charset "utf-8";
@import url("default.css");


:root {
  /* color */
  --color-main-beige: #f4eade;
  --color-main-lightblue: #2988bc;
  --color-main-vintageblue: #2f496e;
  --color-dark-blue: #102a49;

  --color-light-emerald: #cfeff4;
  --color-light-white: #fcfdfe;
  --color-point-aprcot: #ed8c72;

  /* font-size */
  --font-x-large: 7em;
  --font-large: 2.7em;
  --font-midium: 2em;
  --font-regular: 1.25em;
  --font-small: 1em;
  --font-micro: 0.875em;

  /* font-weight */
  --weight-bold: 800;
  --weight-semi-bold: 600;
  --weight-regular: 400;

}

/* Header >HOME, NAVBAR */

#home {
  z-index: 1;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  background: url('../imgs/home-bg.jpg') no-repeat center/cover;
}

#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.3);
}

#navbar {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar__container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar__logo {
  margin-top: 35%;
  text-align: center;
  color: var(--color-light-emerald);
  padding: 40px;
}

.navbar__logo h1 {
  font-size: var(--font-x-large);
  font-weight: var(--weight-bold);
  font-family: 'Nanum Pen Script', cursive;
}


.navbar__logo span {
  display: block;
  margin: 20px auto;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-white);
  text-align:center;
  font-family: 'Nanum Pen Script', cursive;
  position: relative;
  opacity: 0;
  top: 1em;
  animation: animateOverlay 1s ease-in-out forwards;
}

.navbar__logo span:nth-child(3n) { animation-delay: 2s;}
.navbar__logo span:nth-child(3n+1) { animation-delay: 0s;}
.navbar__logo span:nth-child(3n+2) { animation-delay: 1s;}

@keyframes animateOverlay {
  to {
    opacity: 1;
    top: 0;
  }
}
/* Main */
#main {
  position: relative;
  background-color: var(--color-light-white);
}

/* main event */
/* scroll event */
.scroll-event {
  transition: transform 0.8s, opacity 1s;
}


/* section common */
.section {
  padding: 100px 20px;
}
.section__container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.section__title {
  margin: 20px 0;
}

.section__title h2 {
  font-size: var(--font-large);
  color: var(--color-dark-blue);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
}

.section__title h2::after {
  content: "";
  display: block;
  width: 5%;
  height: 3px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-point-aprcot);
  margin: 35px 0;
}

/* ABOUT REOCEAN */

.about__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  padding: 50px;
  border-left: 6px solid var(--color-dark-blue);
}

.about__left {
  flex-basis: 55%;
}

.about__left__description {
  padding: 25px;
}


.about__left__description p {
  font-size: var(--font-regular);
  color: var(--color-main-vintageblue);
}

.about__right {
  flex-basis: 45%;
}

.about__right__img {
  width: 100%;
  opacity: 0.8;
  border-radius: 50%;
}


/* Go to Store */

#store {
  background-color: var(--color-main-beige);
  padding: 35px 0;
}

.store__wrap {
  max-width: 100%;
  border-top: 1px solid var(--color-main-vintageblue);
  border-bottom: 1px solid var(--color-main-vintageblue);
}

.shop {
  padding: 30px;
  max-width: 1280px;
  margin: 0 auto;
}

.shop__text {
  color: var(--color-main-vintageblue);
}

.shop__text h2 {
  font-size: var(--font-large);
}

.shop__text p {
  font-size: var(--font-midium);
}

.go__shop {
  display: inline-block;
  text-align: center;
  font-size: var(--font-regular);
  color: var(--color-point-aprcot);
  border: 1px solid var(--color-point-aprcot);
  line-height: 1.75em;
  padding: 2px 10px;
  margin-top: 20px;
  border-radius: 20px;
}

.go__shop:hover {
  border: 1px solid var(--color-point-aprcot);
  color: var(--color-main-beige);
  text-decoration: none;
  background-color: var(--color-point-aprcot);
}

.go__shop i {
  display: inline-block;
  margin-left: 8px;
  line-height: 1.75em;
}

/* Work List*/

.work__slide__wrap {
  margin: 0 auto;
  overflow: hidden;
}

.work__slide {
  position: relative;
  transition: all 0.5s ease-out;
  /* width: 1920px; */
}

.work__slide::after {
  content: "";
  display: block;
  clear: both;
}

.work__slide__item {
  float: left;
  width: 300px;
  text-align: center;
  height: 500px;
  margin: 0 10px;
}

.work__slide__item__gallery {
  background-color: rgba(244, 234, 222, 0.3);
  height: 100%;
  width: 100%;
}

.work__item__img {
  width: 100%;
  height: 300px;
  border: 10px solid var(--color-main-beige);
}

.work__slide__item__text {
  margin-top: 30px;
}

.work__slide__item__text p {
  font-size: var(--font-small);
  color: var(--color-main-vintageblue);
  margin-top: 10px;
  padding: 10px;
}

.work__controls {
  text-align: center;
}

.work__controls span {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 80px;
  color: var(--color-light-white);
}

.work__controls span:hover {
  font-size: 90px;
}

.work__controls span.prev {
  left: 6%;
}
.work__controls span.next {
  right: 6%;
}

.work__controls img {
  width: 100%;
  height: 100%;
}

/* 원데이클래스 */

#class {
  background-color: var(--color-main-vintageblue);
}

.class__title h2 {
  color: var(--color-main-beige);
} 

.class__list {
  padding: 30px;
}

.class__list::after {
  content: "";
  display: block;
  clear: both;
}

.class__list__item {
  float: left;
  width:49%;
  margin: 10px 5px;

}

.class__item__icon {
  display: inline-block;
  width: 120px;
  height: 120px;
}

.class__item__icon img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.class__item__description {
  display: inline-block;
  width: 74%;
  padding: 10px;
}

.class__item__description h3 {
  font-size: var(--font-regular);
  color: var(--color-light-white);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 5px;
}

.class__item__description p {
  font-size: var(--font-small);
  color: var(--color-main-beige);
}


/* Contact */
.contact__container {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.contact__img__box, .contact__map__box {
  flex-basis: 50%;
}

.contact__img__box {
  background: url(../imgs/moolmaru.jpg) no-repeat center/cover;
}

#map {
  width: 100%;
  height: 100%;
}

.contact__text {
  padding: 35px;
  
}

.contact__text p {
  font-size: var(--font-regular);
  color: var(--color-dark-blue);
}

address {
  margin-top: 30px;
}

.contact__sns {
  font-size: var(--font-micro);
  color: var(--color-main-vintageblue);
}

.contact__sns i, .contact__sns span {
  display: inline-block;
}



/* footer */
#footer {
  position: relative;
  margin-top: 100px;
  background-color: var(--color-dark-blue);
  padding: 30px;
  text-align: center;
}

#footer>div {
  max-width: 1280px;
  margin: 0 auto;
}

.f__sns {
  display: inline-block;
  font-size: 35px;
  color: var(--color-light-emerald);
  line-height: 35px;
  margin: 45px;
}

.f__sns i, .f__sns span {
  display: inline-block;
}

.copy p {
    color: var(--color-point-aprcot);
    font-size: 13px;
}

.copy p:first-child {
    color: var(--color-main-lightblue);
    margin-bottom: 30px;
}

/* Arrow up Scroll */
.arrow-up {
  z-index: 10;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 45px;
  line-height: 45px;
  color: var(--color-main-vintageblue);
  background-color: var(--color-main-beige);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
  cursor: pointer;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
